<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "kattandmouse.sypp11.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Katt and Mouse</name>

    <description>
        An app by Virtus739.
    </description>

    <author href="http://scratch.mit.edu/users/sypp11" email="email@shaanp.com">
        sypp11
    </author>

</widget>
